%h1
  New Language

= form_for :language, url: languages_path, method: :post do |f|
  .size-10.left.column
    .size-10
      = f.label :name
    .size-4
      = f.text_field :name

  .size-10.left.column
    .size-10
      = f.label :type
    .size-4
      = f.text_field :type

  .size-10.left.column
    .size-10
      = f.label :designed_by
    .size-4
      = f.text_field :designed_by

  .size-10.left.column.submit
    = submit_tag 'Create', class: 'button'
    = link_to 'Back', languages_path, class: 'button button-alert'